
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    color: #fff;
    padding: 1.5rem;
}

.rigthopciones{

    flex: 1;
    display: flex;
    justify-content: right;
}


.btn-logout{
    background-color: rgb(7, 145, 7);
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

.leftopciones{
    flex: 1;
    display: flex;  
    justify-content: left;
}



main {
    flex: 1; 
    flex-direction: row; 
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin: 0;
}


.contenedor-izquierdo {
    flex: 1;
    max-width: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column; 

}

.contenedor-derecho {
    flex: 4;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../Multimedia/BgMenu.png');
    background-repeat: no-repeat;
    background-size: cover; 
}


.containe-op{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px); 
    width: 500px;
    height: 350px;
    border-radius: 20%;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
    --light-bg: white;
    --light-primary: rgb(247, 249, 250);
    --light-secondary: rgb(240, 242, 243);
    --light-divider: rgb(235, 237, 238);

    --dark-bg: black;
    --dark-primary: #15181c;
    --dark-secondary: #2f3336;
    --dark-divider: #2f3336;
    --highlight-color: #e0245e;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.profile {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 10px 20px;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-items: stretch;
    justify-content: space-between;
    cursor: pointer;
}

.profile:hover {
    background-color: var(--light-divider);
}

.profile-pic {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.profile-info {
    padding: 0 10px;
    flex-grow: 1;
}

.display-name,
.email {
    display: block;
}

.display-name {
    font-weight: 700;
}

.email {
    color: rgb(155, 153, 153);
}

.btn-agregar-mascota {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 10px 20px;

    
    border: 1px black solid;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    justify-items: stretch;
    justify-content: space-between;
}

.btn-agregar-mascota:hover{
    cursor: pointer;
}

button.profile-pic:hover{
    cursor: pointer;
}